# Hide certain outputs that take up too much space
out/api-pokemon/**.json
out/api-pokemon-species/**.json
out/api-move/**.json
# out/if-pokemon/**.json
# out/if-move/**.json
# out/if-ability/**.json
